@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* background-color: #a1b8b5; */
  background-image: linear-gradient(to bottom, #a1b8b5, #7c999d );
  min-height: 100vh;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
